{% extends  'crime/base.html' %}
{% block title %}ajout d'un crime ! {% endblock %}
{% block body_block %}
	 <h1>Quel crime vous a rencontrez ? </h1>

        <form id="crime_form" method="post" action="/crime/new_crime/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
		</br>
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
	</br>
            {% endfor %}

            <input type="submit" name="submit" value="envoyer" /> 
{% endblock %}
