<!DOCTYPE html>

<html>
    <head>
        <title> {% block title %}donner le titre ! {% endblock %}</title>
    </head>

    <body>
	<h1>Bienvenue sur notre site CriMap </h1>
        <h2>Menu </h2>
	<h3> <ul> 
		<li> <a href='/crime/acceuil'>Acceuil </a>		
		<li> <a href='/crime/new_crime'> Ajouter un crime </a>
		<li> <a href='/crime/statistique'>Voir les statstiques </a>
		<li>avez vous trompé ? modifier un crime <a href='/crime/modifier/?id=' {{the_id}} >modifier </a> 
		</ul> 
	</h3>
	 <hr/>
           


	 {% block body_block %}{% endblock %}
        

      
       
    </body>
</html>
