<!DOCTYPE html>
<html>
{% extends 'crime/base.html' %}
{% load static %}
<head>
    <title>{% block title %}modifier une crime{% endblock %}</title>
    {% block style %}
        <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
{% block content %}
<div class="col-sm-8">
    {% include 'crime/gmindex.html' %}
</div>
<div class="col-sm-4">
    <form style="color: #000000" method="post" action="/crime/modifier/">
    {% csrf_token %}
    <input type="hidden" value="" id="id_id" name="id" class="form-group">
    {% for Hfield in form.hidden_fields %}
	{{ Hfield }}
    {% endfor %}
    {% for Vfield in form.visible_fields %}
	{{ Vfield.errors }}
	<div class="form-group">
	{{ Vfield.help_text }}
	{{ Vfield }}
	</div>
    {% endfor %}
    <input type="submit" class="btn btn-success" value="send">
    </form>
</div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/mod_crime.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.js' %}" ></script>
    <script>
        $(document).ready(function(){
            $('#id_time').datetimepicker({
                pick12HourFormat: false,
                format: 'YYYY-MM-DD HH:mm:ss'
            });
        })
    </script>
{% endblock %}
</body>
</html>
